In [2]:
import pandas as pd
from datetime import datetime

import corrections

dates = [datetime(1970 + i * 10, 1, 1) for i in range(10)]

keys = ['ONLINE', 'v1', 'v2']

# Dictionary comprehension
df = pd.DataFrame({key : len(dates)*[494] for key in keys},
                       dates)
df2 = df.copy()

In [3]:
# Resets everything
corrections.initialize()

corrections.write('elife', df)

In [4]:
df2 = corrections.read('elife')

In [5]:
corrections.write('elife', df2.copy())

In [6]:
df2 = df.copy()
df2.iloc[0]['v2'] = 200
df2

            ONLINE   v1   v2
1970-01-01     494  494  200
1980-01-01     494  494  494
1990-01-01     494  494  494
2000-01-01     494  494  494
2010-01-01     494  494  494
2020-01-01     494  494  494
2030-01-01     494  494  494
2040-01-01     494  494  494
2050-01-01     494  494  494
2060-01-01     494  494  494

In [7]:
corrections.write('elife', df2)
corrections.read('elife')

ValueError: v2 changed in past, not allowed

In [8]:
import json

global_dict = {'elife' : 'v1'}

dates = [datetime(1970, 1, 1), datetime(2050, 1, 1)]

keys = ['ONLINE', 'v1',]

# Dictionary comprehension
df = pd.DataFrame({'ONLINE' : [{'elife' : 'v1'}, {'elife' : 'v1'}],
                   'v1' : [{'elife' : 'v1'}, {'elife' : 'v1'}]},
                       dates)

#df['v1'] = json.dumps(global_dict)

corrections.write('global', df)

In [9]:
when = datetime.utcnow()
corrections.get_context_config(when, global_version='v1')

{'elife': 494.0}